<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>

    <main>
        <div id="card">
            <div id="card-photo">
                <img src="../../img/card-test.jpg" alt="test">
            </div>
            <div id="card-title">
                <p>Dune</p>
            </div>
            <div id="rating">
                <p>95</p>
            </div>
            <div class="overview">
                <h2>overview</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et laoreet nibh. Suspendisse ex nibh, ultricies id condimentum ut, tempor eget massa. In hac habitasse platea dictumst.</p>
            </div>
        </div>
    </main>
</body>
</html>